::-webkit-scrollbar {
    display: none;
}

::-moz-scrollbar {
    display: none;
}

@font-face {
    font-family: nunito;
    src: url("nunito.ttf");
}

@font-face {
    font-family: pacifico;
    src: url("pacifico.ttf");
}

body {
    background-color: black;
    background-image: url(main1.jpg);
    background-repeat: no-repeat;
    background-position: 20px 700px;
    background-size: 1080px 600px;
}

#dates {
    position: center;
    margin-bottom: 0px;
    color: white;
}

#top_bar {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 30%;
    background-color: black;
    background-image: url("uefa.png");
    background-repeat: no-repeat;
    background-size: 220px 220px;
    background-position: center;
}


.column {
    float: left;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  .left {
    width: 25%;
  }
  
  .right {
    width: 75%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }





.container {
    width: 100%;
    margin-left: 0%;
}

.chart1 {
    left: 0%;
}
.chart2 {
    right: 0%;
    transform: translateX(50%);

}
.chart3 {
    position: absolute;
    right: -2%;

    transform: translateX(-40%);
    transform: translateY(80%);


}
#teamDropdown {
    position: absolute;
    bottom: 400px;
    left: 10%;
    transform: translateX(-50%);
}

#navigation_bar {
    position: absolute;
    top: 30%;
    left: 0%;
    width: 100%;
}

.name_of_the_group {
    line-height: 180%;
    opacity: 0;
    font-size: 2.5vh;
    font-family: nunito;
    transition: opacity;
    transition-duration: 2.0s;
    font-size: 25px;
}

.initial_not_visible {
    line-height: 200%;
    opacity: 0;
    transition: opacity;
    transition-duration: 1.5s;
}

#sponsors {
    position: absolute;
    top: 130%;
    left: 0%;
    bottom: 10%;
    height: 40%;
    width: 100%;
    background: red;
    background: url(adidas.png) 100px 100px no-repeat, url(lays_logo.png) 250px 100px no-repeat,
        url(master.png) 400px 100px no-repeat, url(heineken.png) 550px 100px no-repeat,
        url(nissan.png) 700px 90px no-repeat, url(sony.png) 850px 110px no-repeat,
        url(nike.png) 1050px 80px no-repeat;
    background-size: 120px, 100px, 130px, 150px, 120px, 150px, 140px;
    margin-top: 0px;
    color: white;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button2 {
    background-color: white;
    color: black;
    border: 5px solid #008CBA;
    border-radius: 10px;
}

.button2:hover {
    background-color: #008CBA;
    color: white;
}

#rerun {
    position: absolute;
    top: 60%;
    right: 4%;
}

#conteneurListe {
    position: absolute;
    left: 800px;
    transform: translateX(-50%);
    bottom: 350px;
    background-color: black;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

#anneeListe {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 9px;
    min-width: 20px;

}

.item {
    background-color: #fff;
    color: #333;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 18px;
    margin: 10px;
    width:80px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    position: relative;
    font-size: 15px;
    width: 120px;


}

.item.active {
    background-color: #1a1a1a;
    color: #fff;

}

.button {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #1a1a1a;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

#file-container {
    color: #fff;
    position: absolute;
    bottom: 400px;
    left: 1450px;
    transform: translateX(-60%);
}
